@using ForumProject.Entities
@model  IEnumerable<MainCategoryByCities>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach (var item in @Model)
{
    
    <div>@Html.ActionLink(item.CityName, "Show_IntermediateCategory_List",new {controller="Home",action= "Show_IntermediateCategory_List",id=item.MainCategoryByCitiesId },new {@class="btn  btn-default btn-lg" })</div>
    <div>@item.MainCategoryByCitiesId</div>
}